
<!DOCTYPE html>
<!-- file: views/professor/index.php -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
 
</head>
<body>
 
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
     <h2>{{title}}  </h2>
     <table><thead>
      <tr><th>Id</th><th>Name</th><th>Edition</th>
          <th>Copyright</th><th>Language</th>
          <th>Pages</th>
          <th>Author</th>
          <th>Author_id</th>
          <th>Publisher</th>
          <th>Publisher_id</th></tr>
      </thead><tbody>
        {{#books}}  
      <tr> <td>{{id}} </td>
          
      <td>
        {{title}}   </td>
      <td>{{edition}} </td>
      <td>{{copyright}} </td>
      <td>{{language}} </td>
      <td>{{pages}} </td>

      <td><a href="../author/{{author_id}}">
        {{author}}  </a></td> 
      <td> {{author_id}} </td> 
      <td><a href="../publisher/{{publisher_id}}">
        {{publisher}} </a></td>
      <td>{{publisher_id}} </td> </tr>
      {{/books}}  </tbody>
     </table>
    </div>
   </div>
 </div>
</body>